:root {
    --background: #181818;
}

body {
    text-align: center;
    background-color: var(--background);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: crimson;
}
h5 {
    text-align: center;
    color: gray;
}

.button {
    align-self: center;
    background-color: crimson;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
  
.button1 {
  background-color: var(--background); 
  color: crimson; 
  border: 2px solid crimson;
}
  
.button1:hover {
  background-color: crimson;
  color: var(--background);
}