:root {
    --background: #181818;
    --foreground: #dc143c;
    --font: monospace;
}
a{
    color: transparent;
}
body {
    text-align: center;
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font);
}

h1 {
    font-size: 64px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    font-size: 48px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-size: 26px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h5 {
    text-align: center;
    color: gray;
}

.button {
    align-self: center;
    background-color: var(--background);

    font-family: var(--font);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
    display:inline-block;
    color: var(--foreground);
    margin-top: 8px;
    padding: 16px 32px;
    border: 2px solid var(--foreground);
    transition-duration: 250ms;
    cursor: pointer;
}

.button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

div.project-summary {
    margin-bottom: 25px;
    color: var(--foreground);
    background-color: var(--background);
}
div.project-summary:hover {
    margin-bottom: 25px;
    background-color: var(--foreground);
    color: var(--background);
}

div.container {
    text-align: center;
    padding: 10px 20px;
}
.center {
    margin: auto;
    margin-top: 12px;
    width: 50%;
    border: 2px solid var(--foreground);

    padding: 16px 16px;
    background-color: var(--background);

    font-family: var(--font);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
    display:inline-block;
    color: var(--foreground);
    transition-duration: 250ms;
    cursor: pointer;
}